# notebooks
# *.ipynb
.ipynb_checkpoints

# weights
# *ckpt*
# *checkpoint*
# *.h5
# *.hdf5
checkpoint/

# data
*.tif
*.npz

# packaging
*.egg
*.egg-info

# Byte-compiled / optimized / DLL files
__pycache__/
